h1 {
    color: blue;
    font-size: 3em;
    text-align: center;
}

body {
    margin:0;
    padding:0;
}

table {
    border-spacing: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    border-spacing: 0px;
}

.attractionTable {
    text-align: center;
}

.addAttraction {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.addAttraction:hover {
    background-color: #0056b3;
}

.tagsButton {
    display: inline-block;
    padding: 10px, 20x;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

