<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

//start side
TO-DO:
    2) indsæte tabeller med turist attraktioner
    3) indføre funktionaliteten
        -> 3x mængden af attraktion tabeller skal initailiseres hver gang man trykker på knappen
        -> tabel struktur: navn på attraktion, beskrivelse, tags.
        -> tags skal lede til tags.html
    4) kontrol tjek af funktionaliteten
    5) tjekke at de andre HTML sider fører til attracionList (index)
    6) tjekke om minimums kravene er mødt til hvad vi skal kunne på siden
    7) tjekke at siden ikke bare crasher når man trykker på knapperne
    8) styling af attractionList


<h1>Tourist attractions</h1>
<div class = "attractionTable">
    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>By</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attraction : ${attractions}">
            <td th:text="${attraction.name}"> Attraktion navn</td>
            <td th:text="${attraction.description}"> Attraktion beskrivelse </td>
            <td th:text="${attraction.getDistrict()}">Attraktion by</td>
            <td>
                <ul>
                    <li th:each="tag: ${attraction.tags}" th:text="${tag}"></li>
                </ul>
                <form action="#" th:action="@{/tags/{name}(name=${attraction.name})}" method="get"> <button>Tags</button></form>
                <form action="#" th:action="@{/delete/{name}(name=${attraction.name})}" method="post"><button>Slet</button> </form>
                <form action="#" th:action="@{/update/{name}(name=${attraction.name})}" method="get"> <button>Opdater</button></form>
                </td>
        </tr>
        </tbody>
    </table>

    <form action="/createAttraction"> <button class = "addAttraction">Tilføj attraktion</button></form>

</div>
</body>
</html>
