<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

//start side
TO-DO:
    2) indsæte tabeller med turist attraktioner
    3) indføre funktionaliteten
        -> 3x mængden af attraktion tabeller skal initailiseres hver gang man trykker på knappen
        -> tabel struktur: navn på attraktion, beskrivelse, tags.
        -> tags skal lede til tags.html
    4) kontrol tjek af funktionaliteten
    5) tjekke at de andre HTML sider fører til attracionList (index)
    6) tjekke om minimums kravene er mødt til hvad vi skal kunne på siden
    7) tjekke at siden ikke bare crasher når man trykker på knapperne
    8) styling af attractionList


<h1>Tourist attractions</h1>
<div class = "attractionTable">
    <table>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td>Tivoli</td>
            <td>Forlystelsespark til alle aldre</td>
            <td>
                <button>Tags</button> //føre til tags.html
                </td>
        </tr>
        <tr>
            <td>Nyhavn</td>
            <td>Gammel havn med farverige bygninger og masser af gadeliv</td>
            <td>
                <button>Tags</button> //føre til tags.html
                </td>
        </tr>
        <tr>
            <td>Statens Museum for Kunst</td>
            <td>Galleri med malerier fra danmarks mest anerkendte kunstnere</td>
            <td>
                <button>Tags</button> //føre til tags.html
                </td>
        </tr>
        <tr>
            <td>Strøget</td>
            <td>Shopping distrikt med cafeer og varm atmosfære</td>
            <td>
                <a href="tags.html" class="tags">Tilføj attraktion</a>

                <button>Tags</button> //føre til tags.html
                </td>
        </tr>
    </table>
   <a href="updateAttraction.html" class="addAttraction">Tilføj attraktion</a>
</div>
</body>
</html>
