<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="da">
<head>
    <link th:href="@{/static/createAttractions.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-container">
    <h2>Tilføj turistattraktion</h2>
    <form action="/addAttraction" method="post">
        <div class="form-group">
            <label for="navn">Navn:</label>
            <input type="text" id="navn" name="navn">
        </div>

        <div class="form-group">
            <label for="beskrivelse">Beskrivelse:</label>
            <textarea id="beskrivelse" name="beskrivelse"></textarea>
        </div>

        <div class="form-group">
            <label for="description">By:</label>
            <select id="description" name="description">
                <th:block th:each="desc: ${descriptions}">
                    <option th:value="${desc}" th:text="${desc}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
                <div th:each="tag: ${tags}">
                    <label>
                        <input type="checkbox" name="tags" th:value="${tag}" th:text="${tag}">
                    </label>
                </div>
                <button type="submit">Send</button>
        </div>
    </form>
</div>
</body>
</html>
